{{> head}}
<body>
   <header>
    <div class="inner-width">
      <a href="/" class="logo">Клуб любителей поэзии</a>
      <i class="fa fa-bars"></i>
      <nav class="navigation-menu">
        <a href="/">Главная</a>
        <a href="/authors">Авторы</a>
        <a href="/poems">Произведения</a>
        <a href="/contacts">Контакты</a>
      </nav>
    </div>
   </header>
  </body>
  </html>

          