<body>
    <div class="authors">
        <ul>
            <div class="author-card">
                <li><a href="/authors/muhina">Мухина Ксения</a></li>
                <img src="https://sun9-61.userapi.com/impf/X73pZqhKdqocvnFRt3tU7x2iu3xoFKaz1PEeIA/5npopu8ybkE.jpg?size=1200x1600&quality=95&sign=a88502ce2476cb62204c3010fa2a73c9&type=album" alt="">
                <p>"С какого момента слова собранные в кучу<br> с похожими окончаниями становятся поэзией?<br>
                    И с какого момента человек,<br> собравший эти слова в кучу, становится поэтом?"</p>
                <div class="button">
                    <a href="/authors/muhina">Читать</a>
                </div>
            </div>
            <div class="author-card">
                <li><a href="/authors/tckachenko">Солнечные Пятна</a></li>
                <img src="https://sun9-1.userapi.com/impf/8iAxgaNbCSScg0eDKyxkJC453i4nud4TseKATQ/1OwMHaXmxo8.jpg?size=1080x1920&quality=95&sign=cbe002b801bec301402e93a126fd56a9&type=album" alt="">
                <p>«От оскорбления можно защититься,<br>от сострадания нельзя.»</p>
                <div class="button">
                    <a href="/authors/tckachenko">Читать</a>
                </div>
            </div>
        </ul>
    </div>
</body>
</html>