<body>
    <div class="authors">
        <div class="author-card">
            <p><a href="/authors/muhina">Мухина Ксения | Автор</a></p>
            <img src="https://sun9-61.userapi.com/impf/X73pZqhKdqocvnFRt3tU7x2iu3xoFKaz1PEeIA/5npopu8ybkE.jpg?size=1200x1600&quality=95&sign=a88502ce2476cb62204c3010fa2a73c9&type=album" alt="">
            <div class="contact-images">
                <a href="https://vk.com/imksenia"><i class="fa fa-vk" aria-hidden="true"></i></a>
                <a href="https://instagram.com%2Fbaarrocco%3Figshid%3DYmMyMTA2M2Y%3D&cc_key="><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-telegram" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="author-card">
            <p><a href="/authors/muhina">Александров Валерий | Разработчик</a></p>
            <img src="https://sun9-79.userapi.com/impf/J7N5Gunbizn6tU1OAQLHlez-PiIR8gxUSFZXLw/lnRRnTYJpfc.jpg?size=1066x1600&quality=96&sign=fae270a83a30d3f2454a64faccc43ed9&type=album" alt="">
            <div class="contact-images">
                <a href="https://vk.com/id324754967"><i class="fa fa-vk" aria-hidden="true"></i></a>
                <a href="https://instagram.com%2Fdayte_denek%3Figshid%3DYmMyMTA2M2Y%3D&cc_key="><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-telegram" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</body>
</html>