<body>
    <div class="poem-container">
        
        <p>
            Я умираю, ты слышишь?<br>
            От тебя умираю. <br><br>

            Ненавижу твои медные струны, <br>
            Твоей блеск золочёной педали. <br>
            Её словно грязные гулы <br>
            Моё сердце вдребезги рвали. <br><br>

            Я презираю твои черные крылья, <br>
            Они в залах так часто взлетали: <br>
            Где глазеют зеваки как свинья, <br>
            На палача с тупыми ножами. <br><br>

            И об клавиши резались пальцы <br>
            Жизни вечный оставил ты шрам. <br>
            Тебе посвящали фантазии старцы, <br>
            Охраняя твой чертовый храм. <br><br>

            Над стихией твоей не имеющий воли, <br>
            Умирая от жажды под буйным дождем, <br>
            Любил тебя не чувствуя боли, <br>
            И луну твою видел солнечным днём. <br><br>

            Беспощадно колечишь убивец, <br>
            Сердце и душу сажаешь на дно. <br>
            Но я, точно глупый счастливец, <br>
            Свою жизнь тебе вверил давно. <br>
        </p>

    </div>
    <div class="forpiano-image">
        <img src="https://sun9-35.userapi.com/impf/fqgZCQBY-86lgCwrTZRKiveWd-Dm9Js2AAZG7w/_nDSEzeVpWY.jpg?size=1600x1234&quality=96&sign=fdb866e33a295c1db815439517f7bc6e&type=album" alt="">
    </div>
</body>
</html>