<body>
    <div class="author-img">
        <img src="https://sun9-10.userapi.com/impf/agxrfM5RdHyMZMIOaPKfMZmI-kxQ5Rb5YK6K0Q/2lpoPuD00v4.jpg?size=1066x1600&quality=95&sign=13ff81d1f4d7c787498ee3e5965f9ae8&type=album" alt="">
    </div>
    <div class="poems">
            <p><a href="/authors/muhina/naf">Н.А.Ф</a></p>
            <p><a href="/authors/muhina/forpiano">Роялю</a></p>
    </div>

</body>
</html>