<body>
    <div class="poem-container">
        <p>Н.А.Ф <br><br><br>

            ....Мой сердца друг, Его спасатель,<br>
            Я вновь дышу по вашей воле,<br>
            Нечистоты вы мой изгнатель,<br>
            Красоты открывший море..... <br><br>

            Войдя в просторный кабинет,<br>
            Увидев старых лиц картины,<br>
            Я поняла, что лучше места нет,<br>
            Что вечны будут в памяти седины. <br><br>

            Что мне открылась дверь другая: <br>
            В мир фантазий, красоты,<br>
            Что теперь и я совсем иная,<br>
            Теперь страницы книжные милы. <br><br>

            Но трижды озарились светом <br>
            Лица нарисованные их, <br>
            Как вы входили небом,<br>
            Накрывая нас, читали стих. <br><br>

            И тут кричала тишина. <br>
            Пораженный детский лик . <br>
            Меня укутала волна, <br>
            И в глазах искрился блик. <br><br>

            С тяжестью шагали прочь, <br>
            Когда часы нам били трижды час, <br>
            И я порой глядела в ночь, <br>
            Вспоминая Пушкина и вас. <br><br>

            Вот вновь прошла неделя, <br>
            И мы несёмся в милый класс, <br>
            Вы учили нас, что веря, <br>
            Бог всегда одарит нас. <br><br>

            И я пришла к порогу церкви, <br>
            Впустила в сердце божий дух, <br>
            Но без вас мой путь прекрасен не был , <br>
            Я читать без вас боялась в слух. <br><br>

            Вы взрастили в сердце семя <br>
            Прекрасных полевых цветов, <br>
            Вы отпустили моё бремя, <br>
            Вы показали силу слов. <br><br>

            Вы мой источник вдохновенья, <br>
            Ангел, муза, гений, друг <br>
            Стихам не страшен звук старенья, <br>
            Поэтов в них сердечный стук. <br><br>

            И гений их ожил навечно, <br>
            Я помню каждый трепет строк: <br>
            И ваш рассказ о них сердечный, <br>
            И бесценный ваш урок. <br><br>

            Я вновь дышу по вашей воле, <br>
            Вновь рождаюсь каждый день, <br>
            Ведь вы пустили парус в море, <br>
            Где мне тонуть совсем не лень. <br><br>

            </p>
    </div>
</body>
</html>