<body>
      <ul class="collection">
      <li class="collection-item"><a href="/authors/muhina/naf">Н.А.Ф</a></li>
      <li class="collection-item"><a href="/authors/muhina/forpiano">Роялю</a></li>
      <li class="collection-item"><a href="/authors/tckachenko/firstpoem">"..."</a></li>
    </ul>
</body>
</html>