<body>
    <div class="poem-container">
    <p>сейчас на душе довольно тихо<br>
    и мысль о том, что я умру<br>
    укручивает меня-умело и лихо<br>
    и суждено мне лежать в гробу<br>
    сколько не старайся, все без толку<br>
    впереди ждёт лишь тишина<br>
    и суждено оставить небольшую горку<br>
    а самое главное: какова твоя цена?<br>
    что ты сделал для себя и для людей<br>
    что душу твою так настойчиво тревожило<br>
    и сколько ты вытащил из тела гвоздей<br>
    и что тебя беспрекословно уничтожило<br>
    и что твоё хрупкое сердце хранит... <br>
    и сколько на твоей могиле прочтут панихид<br>
    а может кто-то добрым словом вспомнит<br>
после ухода в никуда, или же ждать happy энда<br>
ведь я искренне верю, что рай- это не легенда</p>
</div>
</body>
</html>